.app .title {
  width: 130px;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.app .title.sub_wallet {
  width: 85px;
}

.app .title.sub_wallet .icon_wrp {
  display: none;
}

.app .title .icon_wrp {
  width: 45px;
  height: 55px;
  float: left;
}

.app .title .icon_wrp .Icon-indent {
  width: 100%;
  height: 100%;
  background: url(../../icons/Icon-indent-98.png) no-repeat center;
  background-size: 50%;
  background-position: left 50%;
}

.app .title .text {
  width: 85px;
  height: 55px;
  line-height: 55px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.app .came_back {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.app .came_back a {}

.app .came_back a .icon_wrp {
  width: 100%;
  height: 100%;
}

.app .came_back a .icon_wrp .ICON-back {
  width: 100%;
  height: 100%;
  background: url(../../icons/ICON-back.png) no-repeat center;
  background-size: 90%;
}


/*绠＄悊瀵艰埅*/

.app .order_management_wrp {
  border-top: 1px solid #ccc;
  padding-bottom: 160px;
  overflow: hidden;
}

.app .order_management_wrp .bill_nav {
  width: 100%;
  height: 50px;
  background: rgb(19, 175, 104);
  color: #fff;
  -moz-box-shadow: 2px 7px 6px #ccc, 2px 2px 8px #ccc;
  -webkit-box-shadow: 2px 7px 6px #ccc, 2px 2px 8px #ccc;
  box-shadow: 2px 7px 6px #ccc, 2px 2px 8px #ccc;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 18px;
  padding: 10px;
}

.app .order_management_wrp .bill_nav a {
  display: inline-block;
  width: 25%;
  height: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.app .order_management_wrp .bill_nav a li {
  display: inline-block;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.app .order_management_wrp .bill_nav a li span {
  font-size: 16px;
  margin: 0 3px;
  font-weight: bold;
}

.app .order_management_wrp .bill_nav a li.selected {
  border-bottom: 2px solid #fff;
}


/*绠＄悊瀵艰埅*/

.app .order_management_wrp .unfinished_bill_info {
  margin-top: 20px;
  overflow: hidden;
}

.app .order_management_wrp .unfinished_bill_info .number_data {
  width: 100%;
  height: 200px;
  background: rgb(19, 175, 104);
  color: #fff;
  border-bottom: 1px dashed #fff;
  position: relative;
  border-radius: 18px 18px 0 0;
}

.app .order_management_wrp .unfinished_bill_info .number_data .icon_wrp_bg {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}

.app .order_management_wrp .unfinished_bill_info .number_data .icon_wrp_bg .icon {
  width: 100%;
  height: 100%;
  background: url(../../icons/Icon-carrot-95.png) no-repeat center;
  background-size: 100%;
}

.app .order_management_wrp .unfinished_bill_info .number_data span {
  font-size: 20px;
}

.app .order_management_wrp .unfinished_bill_info .number_data .time_value {
  width: 95%;
  height: 50px;
  margin: 0 auto;
}

.app .order_management_wrp .unfinished_bill_info .number_data .time_value .time {
  width: 60%;
  height: 50px;
  line-height: 50px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.app .order_management_wrp .unfinished_bill_info .number_data .time_value .value {
  width: 40%;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.app .order_management_wrp .unfinished_bill_info .number_data .kinds {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.app .order_management_wrp .unfinished_bill_info .number_data .kinds span {
  font-size: 18px;
  font-weight: bold;
}

.app .order_management_wrp .unfinished_bill_info .number_data .service_info {
  width: 95%;
  height: 100px;
  margin: 0 auto;
}

.app .order_management_wrp .unfinished_bill_info .number_data .service_info .arrive {
  width: 22%;
  height: 100px;
  line-height: 100px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.app .order_management_wrp .unfinished_bill_info .number_data .service_info .start {
  width: 38%;
  height: 100%;
  float: left;
  line-height: 95px;
}

.app .order_management_wrp .unfinished_bill_info .number_data .service_info .start img {
  width: 18px;
  height: 18px;
}

.app .order_management_wrp .unfinished_bill_info .number_data .service_info .weight {
  width: 40%;
  height: 100%;
  float: left;
  line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.app .order_management_wrp .unfinished_bill_info .goods_list {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list_detial {
  background: rgb(19, 175, 104);
  width: 100%;
  height: auto;
  overflow: hidden;
  display: none;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list span {}

.app .order_management_wrp .unfinished_bill_info .goods_list .list .name {
  width: 20%;
  height: 50px;
  line-height: 50px;
  float: left;
  /*修改名称长度*/
	width: 80%;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list .number {
  width: 60%;
  height: 50px;
  line-height: 50px;
  float: left;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list .value {
  width: 20%;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list.discount {
  border-bottom: none;
  margin-bottom: 30px;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .list.total {
  border-bottom: none;
  border-top: 1px solid #fff;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .slide {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-radius: 0 0 18px 18px;
  background: rgb(19, 175, 104);
  margin-bottom: 30px;
  display: block;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .chargeback_order {
  width: 20%;
  height: 50px;
  line-height: 50px;
  display: block;
  float: left;
  text-align: center;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .sak_bills {
  width: 60%;
  height: 50px;
  display: block;
  float: left;
  text-align: center;
  padding-left: 20%;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .sak_bills .icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: inline-block;
  background: url(../../icons/ICON-yes.png) no-repeat center;
  background-size: 50%;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .sak_bills .text {
  display: block;
  width: 80px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  font-size: 15px;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .btn-slide {
  background: rgb(19, 175, 104) url(../../icons/ICON-take-back-120.png) no-repeat left center;
  background-size: 25%;
  text-align: right;
  width: 20%;
  height: 50px;
  line-height: 50px;
  display: block;
  float: right;
  text-align: center;
  font-size: 16px;
  padding-left: 5px;
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info .goods_list .active {
  background: rgb(19, 175, 104) url(../../icons/Icon-yes-97.png) no-repeat left center;
  background-size: 25%;
}

.app .chargeback_order_reason {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.app .chargeback_order_reason #mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.app .chargeback_order_reason .reason_form {
  width: 98%;
  margin: 5px 1%;
  padding: 5px 20px;
  min-height: 260px;
  background: rgb(19, 175, 104);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2
}

.app .chargeback_order_reason .reason_form .textarea {
  width: 100%;
  height: auto;
  min-height: 100px;
  margin: 5px auto;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-indent: 5px;
}

.app .chargeback_order_reason .reason_form .textarea::-webkit-input-placeholder {
  color: #fff;
  text-indent: 5px;
}

.app .chargeback_order_reason .reason_form .textarea:-moz-placeholder {
  color: #fff;
  text-indent: 5px;
}

.app .chargeback_order_reason .reason_form .textarea::-moz-placeholder {
  color: #fff;
  text-indent: 5px;
}

.app .chargeback_order_reason .reason_form .list {
  width: 100%;
  height: 60px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin: 10px 0;
}

.app .chargeback_order_reason .reason_form .list .text {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fff;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: rgb(19, 175, 104);
}

.app .chargeback_order_reason .reason_form .list .button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}



/*==================================已经完成部分结束===========================================*/


/*==================================配送中部分开始===========================================*/

.app .order_management_wrp .unfinished_bill_info.order_management .number_data {
  background: rgb(243, 152, 1);
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data {
  overflow: hidden;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info {}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .arrive {
  width: 40%;
  height: 100%;
  float: left;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .arrive .text {
  width: 60%;
  height: 100%;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .arrive .icon {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 25px;
  background: url(../../icons/Icon-car-96.png) no-repeat center center;
  background-size: 60% 50%;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .reminder {
  width: 20%;
  height: 100px;
  float: left;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .reminder span {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 35px;
  font-weight: bold;
  font-size: 16px;
  float: right;
  margin-right: 10px;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data .service_info .weight {}


.app .order_management_wrp .transport .goods_list .list_detial{
	background: rgb(243, 152, 1);
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching {
  background: rgb(243, 152, 1);
  width: 100%;
  height: 100px;
  border-radius: 0 0 18px 18px;
  overflow: hidden;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp {
  width: 100%;
  height: 50px;
  position: relative;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp .line {
  position: absolute;
  width: 80%;
  height: 5px;
  background: #fff;
  top: 35px;
  left: 10%;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  top: 26px;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp .dot.dot1 {
  left: 10%;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp .dot.dot2 {
  left: 50%;
  margin-left: -10px;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .line_wrp .dot.dot3 {
  left: 90%;
  margin-left: -10px;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .text_wrp {
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .text_wrp .item {
  width: 33.333%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .text_wrp .item.left {
  text-align: left;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .text_wrp .item.center {
  text-align: center;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching .text_wrp .item.right {
  text-align: right;
}


/*支付失败部分*/

.app .order_management_wrp .unfinished_bill_info.order_management .number_data.pay_fail {
  margin-top: 30px;
  background: #878b23;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data.pay_fail .service_info {}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data.pay_fail .service_info .pay_again {
  width: 60%;
  height: 100px;
  float: left;
  line-height: 100px;
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data.pay_fail .service_info .pay_again span {
  width: auto;
  height: auto;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.app .order_management_wrp .unfinished_bill_info.order_management .number_data.pay_fail .service_info .weight {
  float: right;
}


.app .order_management_wrp .unpay .goods_list .list_detial{
	background: #878b23;
}


.app .order_management_wrp .unfinished_bill_info.order_management .dispatching.pay_fail {
  background: #878b23;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching.pay_fail .icon_wrp {
  width: 100%;
  height: 50px;
  text-align: center;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching.pay_fail .icon_wrp .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../../icons/Icon-car-97.png) no-repeat center center;
  background-size: 60%;
  background-position: center bottom;
}

.app .order_management_wrp .unfinished_bill_info.order_management .dispatching.pay_fail .alert_condition {
  width: 100%;
  height: 50px;
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}



/*催单部分*/

.app .order_management_wrp .urge_order {
  background: rgb(19, 175, 104);
  width: 90%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin: 20px auto;
  border-radius: 20px;
}

/*==================================配送中部分结束===========================================*/


/*==================================未评价部分开始===========================================*/

.app .order_management_wrp .unfinished_bill_info.no_evaluation .number_data {
  background: rgb(243, 152, 1);
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .number_data .service_info .start {
  font-size: 12px;
  font-weight: bold;
  line-height: 105px;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .grade {
  width: 100%;
  height: 50px;
  background: rgb(243, 152, 1);
  text-align: center;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .grade .start {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
  background: url(../../icons/Icon-star-1-94.png) no-repeat center center;
  background-size: 60%;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .grade .start.on {
  background: url(../../icons/Icon-star-2-94.png) no-repeat center center;
  background-size: 60%;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial {
  background: rgb(243, 152, 1);
  height: auto;
  overflow: hidden;
  padding: 20px 10px;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial .text {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.25);
  padding: 5px;
  color: #fff;
  font-size: 15px;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial .text::-webkit-input-placeholder {
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial .text:-moz-placeholder {
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial .text::-moz-placeholder {
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .list_detial .text:-ms-input-placeholder {
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .btn-slide {
  background: rgb(243, 152, 1) url(../../icons/ICON-take-back-120.png) no-repeat center center;
  background-size: 5% 25%;
  background-position: 40% 50%;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  float: right;
  text-align: center;
  font-size: 16px;
  padding-left: 60px;
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .goods_list .active {
  background: rgb(243, 152, 1) url(../../icons/Icon-yes-97.png) no-repeat center center;
  background-size: 5% 25%;
  background-position: 40% 50%;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .revise {
  width: 100%;
  height: 80px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #000;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .revise .icon_text {
  position: absolute;
  width: 150px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -75px;
  text-align: center;
  z-index: 1;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .revise .icon_text .icon_tijiao {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  background: url(../../icons/Icon-yes-98.png) no-repeat center;
  background-size: 60%;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .revise .icon_text .text {
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  float: left;
  font-weight: bold;
  color: rgb(19, 175, 104);
  font-size: 18px;
}

.app .order_management_wrp .unfinished_bill_info.no_evaluation .revise .submit {
  display: block;
  position: absolute;
  width: 150px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -75px;
  text-align: center;
  z-index: 2;
  background: none;
}


/*==================================未评价部分结束===========================================*/


/*==================================退单部分开始===========================================*/

.app .order_management_wrp .unfinished_bill_info.chargeback .number_data {
  background: rgb(234, 85, 20);
}

.app .order_management_wrp .unfinished_bill_info.chargeback .goods_list .list_detial {
  background: rgb(234, 85, 20);
}

.app .order_management_wrp .unfinished_bill_info.chargeback .goods_list .slide {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-indent: 20px;
  overflow: hidden;
  border-radius: 0 0 18px 18px;
  background: rgb(234, 85, 20);
  display: block;
}

.app .order_management_wrp .unfinished_bill_info.chargeback .goods_list .slide .sak_bills {
  width: 80%;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: left;
  padding-left: 0;
  font-weight: bold;
  font-size: 26px;
}

.app .order_management_wrp .unfinished_bill_info.chargeback .goods_list .btn-slide {
  background: rgb(234, 85, 20) url(../../icons/ICON-take-back-120.png) no-repeat left center;
  background-size: 25%;
  text-align: right;
  width: 20%;
  height: 50px;
  line-height: 50px;
  display: block;
  float: right;
  text-align: center;
  font-size: 16px;
  padding-left: 5px;
  color: #fff;
}

.app .order_management_wrp .unfinished_bill_info.chargeback .goods_list .active {
  background: rgb(234, 85, 20) url(../../icons/Icon-yes-97.png) no-repeat left center;
  background-size: 25%;
}



/*==================================退单部分结束===========================================*/

